.main-banner{
	background-color:#e0ac5a;
	color:#fff;
	width:100%;
	padding:10px 30px;
	h1{
		font-size:41px;
	}
	p{
		margin-bottom:25px;
		margin-bottom:80px;
	}
	.premium-icon{
		background-size: 30px 30px;
		width:30px;
		height:30px;
		position: relative;
		display: inline-block;
		background-image: url(../images/premium-2.png) !important;
	}
}

.main-word{
	text-align:center;
	margin-top:39px;
	h5{
		font-size:21px;
		font-weight:Bold;
	}
	.word-for-free{
		font-size:33px;
		color:#353535;
		font-weight:Bold;
		display:block;
		margin-top:90px;
	}
	.word-for-premium{
		font-size:33px;
		color:#13506b;
		font-weight:Bold;
		display:block;
		margin-bottom:120px;
	}
}

.div-button-submit{
	margin-top:45px;
	margin-bottom:75px;
	.btn{
		font-size:20px;
		font-weight:Bold;
		padding-top:10px;
		padding-bottom:42px;
	}
}